{%- if type.size > 0 -%}
  {% assign image_box_ratio = type.height | append: ".0" | times: 1 | divided_by: type.width | times: 100 | append: "%" %}
  {% assign img_url = type | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

  {%- if template == 'product' -%}
    {% assign imageid = product.id %}
  {%- else -%}
    {% assign imageid = media.id %}
  {%- endif -%}

  <div class="box-ratio" style="padding-bottom: {{ image_box_ratio }};">
    <img class="lazyload lazyload-fade"
      id="{{ imageid }}"
      data-src="{{ img_url }}"
      data-sizes="auto"
      alt="{{ type.alt | escape }}">
  </div>
{%- endif -%}
